@use 'css-library.scss' as *;
@use 'colors.scss' as *;
body{
    // height:fit-content;
    // height:5000px
}
.link-fixed{
    color:$black;
    text-decoration: none;
    padding-top:15px
}
.input-post-container{
    padding-left: 5%;
    padding-right:5% ;
    padding-top:2%;
}
.create-post-button{
    width:100%;
    font-size: 18px;
    height:40px;
    align-self: center;
    border-radius:20px;
    border-color: transparent;
    color:$secondary;
}
.navbar-home{
    max-width:100%;
    max-height:12%;
    @extend .py-2;
    padding-left:5%;
    padding-right:5%;
    justify-content:space-around;
    font-size: 12px;
    ul {
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content:space-between;
    }
    ul li div{
        display: inline-flex;
        text-align: center;
        text-decoration: none;
        align-self: center;
    }
   .logo-in{
        max-height: 35px;
    }
    .theme-icon{
        height:35px;
        align-self:center
    }
}

.search{
    li {
        align-self:center;
        max-height:100%;
    }
    
    img{
        max-height:22px;
        filter: invert(52%) sepia(85%) saturate(1443%) hue-rotate(181deg) brightness(88%) contrast(105%);
    }
    input,button{
        border:none;
        background-color: rgb(227, 244, 255)
    }
    input{
        width:200px;
        padding:2px;
    }
}

.searching{
    max-height:inherit;
    border:none;
}

.navbar-icons{

    div{
        display: flex;
        flex-direction: column;
        height:17px;
        padding-left: 30px;
    }
    justify-content:center;

    img{
        align-self:center;
        max-height: 90%;
        padding-bottom:5px;
    }
    .profile{
        border-radius: 45%;
    }

}

.home-page{
    border-radius: solid 1px black;
    width:75%;
    height:100%;
}

.home-profile-container{
    display:flex;
    flex-direction: column;
    width:15%;
    margin-top:20px;
    // width:220px;
    height:77%;
    position:fixed;
    left:13.4%;
}
.home-right-container{
    width: 15%;
    height:82%;
    position:fixed;
    margin-top:1.8%;
    right:12%;
}

.home-posts-container{
    width:40%;
    height:100%;
    position:relative;
    z-index: 2;
    
}

.home-profile{
    display:flex;
    flex-direction: column;
    width:100%;
    height:65%;
    border-radius: 10px;
}
.home-profile2{
    width:100%;
    height:27%;
    margin-top:5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    button{
        border:none;
        width:100%;
        color:black;
        font-size:10px;
    }
    
    .phase-1{
        text-align: left;
        text-indent: 2%;
        height:24%;
    }
    .phase-2{
        height:28%;
    }
}
.profile-upper-background{
    width:100%;
    height:30%;
    max-height:30%;
    position:absolute;  

    img{
        width: 100%;
        max-height:43%;
        border-radius: 10px 10px 0px 0px;
        object-fit:cover;   
    }

    
}

.home-profile-picture{
    z-index:3;
    margin-top:-19%;
    width:100%;
    align-items: center;
    translate:35%;
    // height:100%;
    img{
        border-radius:50%;
        width:30%;
        height:30%;
        border: 1px solid white;
    }
}
.home-profile-name{
    font-weight: bold;
    margin:0;
    margin-bottom:1.5%;
    @extend .px-4
}
.home-profile-place{
    margin:0;
    align-self: center;
    text-align: center;
    font-size:13px;
    @extend .px-4
}

.profile-below{
    width:100%;
    height:43%;


}
.content-text{
    display:flex;
    flex-direction: row;
    width:80%;
    height: fit-content;
    @extend .mx-4;
    p{
        font-size:12px;
        @extend .m-0;
    }
    .text-small{
        font-size:10px
    }
    img{
        height:12px;
        margin-right:4px
    }
}
